# Dependency directories
node_modules/
**/*package-lock.json*

# Logs and debugging files
**/npm-debug.log
**/yarn-error.log
logs/
*.log
debug.log
*.pid
*.seed
*.pid.lock

# Editor directories and files
**/.vscode/
**/.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
**/.DS_Store

# Environment files
**/.env
**/.env.local
**/.env.development
**/.env.test
**/.env.production

# Compiled output
**/dist/
**/build/
**/out/
**/.next/
**/public/
**/.nuxt/
**/nuxt/

# Local development files
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/.pnp.js
**/*.pnp.js
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

# Windows Installer files
**/node_modules/

