body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f3f3f3;
}

#content {
    margin-top: 50px;
}

button, input {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}

#output {
    margin-top: 20px;
    color: #333;
}
