.navbar {
    justify-content: space-between;
    overflow: hidden;
    background-color: #333;
    position: relative;
}

#navbar-top-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: #333;
}

.navbar #navbar-links {
    display: none;
}

.navbar a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.logo {
    background-color: #04aa8c;
    color: white;
}

#navbarToggle {
    background-color: #333;
    min-height: 50px;
    min-width: 50px;
}