
body {
  margin: 0 auto;
  padding: 0 .5rem;
  background: #eef6fc;
  color: #333;
}

#main {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 .5rem;
}

.question {
  margin: 10px auto;
  width: 100%;
  max-width: 600px;
  text-align: center;
  box-shadow: 0 0 5px #ccc;
}

details > summary {
  background: #d1d4d6;
  color: rgb(44, 43, 43);
  cursor: pointer;
  padding: .5rem 1rem;
}

details > summary > * {
  display: inline;
  color: rgb(44, 43, 43);
}

details > div {
  border-top: 1px solid  rgb(153, 147, 147);
  background: #d1d4d6;
  margin-top: 0;
  padding: 0rem 1rem 1rem 1rem;
}

